body {
    background: rgb(97, 5, 8);
    font: normal 12pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.361);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    font: normal 25pt Arial;
}

tr {
    margin-top: 1%;
    margin-bottom: .5%;
}

td {
    text-align: center;
    vertical-align: center;
}

td:hover {
    background-color: #f5f5f5;
}

dl {
  display: block;
  margin-top: .1cm;
  margin-bottom: 0;
  margin-left: 1cm;
  margin-right: 1cm;
}

dt {
  display: block;
}

dd {
    display: block;
    margin-left: 0;
    margin-bottom: .2cm;
}